/**
 * @file
 * Language popup CSS file.
 */
#language-popup-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#language-popup-list li {
  float: left;
  border: 2px solid #cecece;
  margin-right: 10px;
}

#language-popup-list li a {
  display: block;
  text-align: center;
  padding: 12px;
  text-decoration: none;
}
